*{
    font-family: "Inter";
    margin: 0px;
    color: white;
    
}

.App {
    background-color:rgb(54, 54, 54);
    height: 100vh;
    overflow: hidden;
    
}

.loginpage {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.addstock input{
    

    color: black;
}

.addstock button{
    margin-top: 15px;
    color: black;
}

.loginpage form input {
    color: black

}
.loginpage button{
    color:black;
    margin-top: 15px;
    width: 100px;
    height: 30px;
    
}


.navbar {
    display: flex;
    align-items: center;
    padding: 15px;
}

.navbar h2 {
    padding-left: 15px;
}

.addstock {
    background-color: rgb(78, 78, 78);
    padding: 30px;
    
    color: rgb(177, 177, 177);
    height: 100vh;
}

.displaystock {
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: auto;
    
    
}
.navbar a{
    margin-left: 1100px;
    text-decoration: none;
}
.displaystock > div{
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    background-color: rgb(244, 244, 244);
    border: 2px solid rgb(72, 72, 72);
}

.displaystock > div:last-child{
    margin-bottom: 100px;
}

.stock-display {
    display: flex;
    justify-content: space-between;
}
.stock-display button,.stock-display p{
    color:black;
    margin: 15px;

}


.displaystock div h2,.displaystock div h3 {
    color: black;
}



.addstock h2 {
    text-align: center;
    padding: 15px;  
}

.profile-pic{
    background-image: url("../assets/Profile.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height:50px;
}

.container {
    height: 100%;
    display: flex;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap')